.card{
    width: 22vw;
    border: 2px solid black;
    margin: 18px;
    height: 205px;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    
}
h1{
    margin-bottom: 20px;
}
img{
    width: 100%;
    height: 115px;
    border-radius: 25px 
}
